<script>
  import Editor from "./lib/Editor.svelte";
</script>

<h1>Vite + Svelte = Machine Learning</h1>

<div class="fancy-border">
  <Editor />
</div>

<style>
  h1 {
    padding: 0.5em;
    font-size: 3em;
    text-align: center;
    background-color: #2cb5c0;
    transition: filter 300ms;
  }
  h1:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .fancy-border {
    padding: 0.5rem;
    border: 1rem double black;
  }
</style>
