<script>
    export let result;

    let dropped = [];
    let status = "";

    let draggedInside;

    // *** swap div ***
    function inDragEnter(e) {
        e.preventDefault();
    }
    function inDragLeave(e) {
        e.preventDefault();
    }
    function inDragDrop(e) {
        if (draggedInside !== null) {
            e.stopPropagation();
            if (draggedInside.id === e.target.id) {
                console.error("Cannot drag the same object over itself!");
                status = "Cannot drag the same object over itself!";
            } else {
                console.log(`Swapping ${draggedInside.id} and ${e.target.id}`);
                const targetIndex = dropped.findIndex(
                    (o) => o.id === e.target.id
                );
                const draggedIndex = dropped.findIndex(
                    (o) => o.id === draggedInside.id
                );
                const tmp = dropped[targetIndex];
                dropped[targetIndex] = dropped[draggedIndex];
                dropped[draggedIndex] = tmp;
                status = `Swapped ${dropped[targetIndex].id} and ${dropped[draggedIndex].id}`;
            }
        }
    }
    function inDragStart(e) {
        draggedInside = e.target;
    }
    function inDragEnd(e) {
        draggedInside = null;
    }

    function handleDragDrop(e) {
        e.preventDefault();
        const json_got = e.dataTransfer.getData("text");
        const object = JSON.parse(json_got);
        if (dropped.filter((o) => o.id === object.id).length === 0) {
            dropped = [...dropped, object];
            status = "You dropped " + object.id + " into drop zone";
        } else {
            status = "Element " + object.id + " is prenset!";
        }
    }

    async function computePipeline() {
        console.log("Body: ", JSON.stringify(dropped));
        try {
            const response = await fetch(
                "http://localhost:9000/compute_pipeline",
                {
                    method: "POST",
                    body: JSON.stringify(dropped),
                    headers: { "content-type": "application/json" },
                }
            );
            if (!response.ok) {
                throw new Error("Response is not okay");
            }
            const data = await response.json();
            console.log(data);
            result = data;
        } catch (error) {
            console.error("Error", error);
            result = error;
        }
    }
</script>

<div class="navbar">
    <button
        on:click={() => {
            dropped = [];
        }}>Clear board</button
    >
    <button on:click={computePipeline}>Compute pipeline</button>
</div>

<h2>Drag status: {status}</h2>

<!-- drag zone -->
<div class="center">
    <div
        role="marquee"
        class="drop_zone"
        on:drop={handleDragDrop}
        on:dragover={(e) => {
            e.preventDefault();
            return false;
        }}
    >
        {#each dropped as drop}
            <div
                role="marquee"
                id={drop.id}
                class="item accent-font"
                draggable="true"
                on:dragstart={inDragStart}
                on:dragenter={inDragEnter}
                on:dragleave={inDragLeave}
                on:dragend={inDragEnd}
                on:drop={inDragDrop}
            >
                {drop.content}
            </div>
        {/each}
    </div>
</div>

<style>
    .center {
        display: flex;
        justify-content: space-around;
    }
    .drop_zone {
        display: flex;
        flex-direction: column;
        background-color: #eee;
        border: #999 0.3em solid;
        min-height: 50vh;
        max-height: 50vh;
        padding: 0;
        max-width: 40rem;
        min-width: 30rem;
        overflow: auto;
        padding-bottom: 3rem;
    }
    .item {
        /* width: 100%; */
        height: 2em;
        margin-bottom: 0.1em;
        background-color: gold;
        border-radius: 10em;
        border: 0.1em dashed black;
    }
    .accent-font {
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
    }
    .navbar {
        background-color: #eee;
        display: flex;
    }

    .navbar button {
        background-image: linear-gradient(
            to right,
            #314755 0%,
            #26a0da 51%,
            #314755 100%
        );
        margin: 0.3rem;
        padding: 0.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        /* background-size: 200% auto; */
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    .navbar button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
</style>
