<script>
    import DragZone from "./DragZone.svelte";
    import MenuElement from "./MenuElement.svelte";
    import { onMount } from "svelte";

    let result = { status_code: "", detail: "" };
    let content = [];
    onMount(async () => {
        console.log("before fetch");
        content = await fetch("http://localhost:9000/available_elements")
            .then((resp) => resp.json())
            .catch((err) => alert(err));
    });
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="editor-outer">
    <div class="object-menu">
        {#each content as elt}
            <MenuElement name={elt.name} elements={elt.methods} />
        {/each}
    </div>
    <div class="content">
        <DragZone bind:result />
    </div>

    <div
        class="output-result {parseInt(result.status_code) === 200
            ? 'valid-color'
            : 'error-color'}"
    >
        {#if result.status_code !== ""}
            <p>Status code: {result.status_code}</p>
            <p>Detail: {JSON.stringify(result.detail)}</p>
        {/if}
    </div>
</div>

<style>
    .editor-outer {
        display: grid;
        grid-template-columns: 2fr 10fr 2fr;
        gap: 0;
    }
    .object-menu {
        background-color: #33a65c;
        /* height: 100%; */
        /* width: 10vw; */
        overflow: auto;
        border: 1px solid black;
        /* position: relative; */
    }
    .content {
        background-color: lightgray;
        /* height: 100%; */
        /* width: 90%; */
        /* position: relative; */
    }
    .output-result {
        display: grid;
        grid-template-rows: 10% 90%;
        gap: 3rem;
        text-align: center;
    }
    .valid-color {
        background-color: rgba(0, 252, 25, 0.7);
    }
    .error-color {
        background-color: rgba(252, 29, 0, 0.7);
    }
</style>
