<script>
    import Shape from "./Shape.svelte";
    export let name;
    export let elements = [];

    let target;
    let isMenuOpen = false;

    function populateContent() {
        isMenuOpen = !isMenuOpen;
    }
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
    class={isMenuOpen ? "open-menu" : "closed-menu"}
    id={name}
    on:click={populateContent}
    bind:this={target}
>
    <div class="title-bar">
        <div>{name}</div>
        <img
            src={isMenuOpen
                ? "src/assets/arrow-up.svg"
                : "src/assets/arrow-down.svg"}
            alt="arror symbol"
        />
    </div>
    {#if isMenuOpen}
        <div class="items">
            {#each elements as elt}
                <Shape id={name} content={elt} />
            {/each}
        </div>
    {/if}
</div>

<style>
    .title-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 0.1rem solid black;
        background-color: #a26dc2;
        border-radius: inherit;
    }
    .title-bar img {
        max-width: 2rem;
        max-height: 2rem;
    }
    .title-bar div {
        font-weight: bold;
    }
    .items {
        display: grid;
        grid-template-columns: 100%;
        gap: 3px;
        padding-top: 0.5rem;
    }
    .closed-menu {
        background-color: #a26dc2;
        margin-bottom: 0.3em;
        margin-left: 1px;
        margin-right: 1px;
        text-align: center;
        border-radius: 10%;
    }
    .open-menu {
        background-color: #e03426;
        margin-bottom: 0.3em;
        padding-bottom: 0.5rem;
        text-align: center;
        border-radius: 10%;
    }
</style>
