<script>
    export let content;
    export let id;

    let dragged;
    function handleDragStart(e, content) {
        const toSend = JSON.stringify({ id: dragged.id, ... content });
        e.dataTransfer.setData("text", toSend);
    }
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
    class="shape"
    id={`${id}_${content}`}
    draggable="true"
    bind:this={dragged}
    on:dragstart={e => handleDragStart(e, {content: content, name: id})}
    on:dragend|preventDefault
>
    {content}
</div>

<style>
    .shape {
        height: 2.5em;
        min-width: 5rem;
        background-color: #1ba3c6;
        border-radius: 25%;
        color: white;
        margin-left: 1px;
        margin-right: 1px;
    }
</style>
